* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin: 10px;
    margin-bottom: 20px;
}

img {
    height: 5vh;
    margin-right: 5px;
}

#noimage-input::before {
    content: 'Upload an Image';
    color: black;
    position: absolute;
    top: 40%;
    left: auto;
}

.image-upload .valid-image::before {
    color: white;
}

.image-upload input {
    color: transparent;
    height: 20vh;
    width: 10vw;
    border: 1px solid black;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    position: relative;
    background: 50% 50% no-repeat;
    background-size: contain;
}

.valid-img::before {
    color: white;
}

.image-upload input::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}

.image-upload {
    display: flex;
    justify-content: center;
}

.is-invalid {
    border-color: #dc3545;
    color: #dc3545;
}

.pop {
    border: 1px solid;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}