<div class="context">
    <h2 class="title">
        This app is part of PSEU training to practice Angular basics
    </h2>
    <h2>The Following concepts where applied :</h2>
    <ul class="">
        <li>Routing between components</li>
        <li>Forms Validation</li>
        <li>Connect the app with firebase</li>
        <li>Apply CRUD operations with realtime database and storage on firebase</li>
    </ul>
</div>


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>